{{#if alert}}
{{#if alert.type}}
<div class="alert alert-success" role="alert">
  {{alert.message}}
</div>
{{else}}
<div class="alert alert-danger" role="alert">
  {{alert.message}}
</div>
{{/if}}
{{/if}}
<!-- As a link -->

<section class="blogs">
  <div class="header d-flex flex-column align-items-center">
    <h2 class="my-5">Your Blogs</h2>
  </div>
  <div class="blog-container px-2">
    {{#each blogs}}
     <div class=" blog-wrapper p-3 mt-3 bg-light">
      <div class="card-body px-2">
        <h4 align="center" >{{this.title}}</h4>
        <h6 align="center" >{{user.userName}}</h6>
        <p align="center" >{{this.body}}</p>
      </div>
     </div>
    {{/each}}
  </div>
</section>
